.header{
    background-color: #52070F;
    color: white;
    height: 120px;
}

.title{
    margin-bottom: 20px;
    text-align: center;
    
}

.row{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card{
    text-align: center;
    margin: 50px;
    height: 325px;
}

.card-img-top{
    height: 192px;
}

.preco{
    color: #27B43D;
    font-weight: bold;
}

.comprar{
    background-color: #27B43D;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    width: 120px;
    height: 35px;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.subtitle{
    margin: 20px;
    text-align: center;
}

.imagem{
    height: 100px;
    height: auto;
}

.pao{
    height: 200px;
    width: auto;
    margin: 20px;
}

